
body {
  font-family: Roboto, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

iron-toolbar {
  background-color: #455ede;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #5677fc;
  color: #fff;
}

paper-tabs paper-tab.iron-selected {
  color: #ffff8d;
}

#dropzone {
  border-radius: 5px;
  padding: 90px 10px;
  text-align: center;
  font: 20pt bold 'sans-serif';
  color: #bbb;
  background: white;
}

#files {
  display: block;
  margin: 0 auto;
}

#files::-webkit-file-upload-button {
  visibility: hidden;
}

#files::before {
  content: 'or click to select files';
  background: white;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16pt;
  margin: 0 auto;
}

#files:hover::before {
  border-color: black;
}

#files:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}