body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#dropzone {
  border-radius: 5px;
  padding: 90px 10px;
  text-align: center;
  font: 20pt bold 'sans-serif';
  color: #bbb;
  background: white;
}

#dropzone-bar {
  border-bottom: 1px solid white;
  background: rgb(229, 229, 299);
  color: black;
  box-shadow: rbga(0,0,0,0,0.298039) 0px 1px 8px;
  font-size: 1em;
}

#files {
  display: block;
  margin: 0 auto;
}

#files::-webkit-file-upload-button {
  visibility: hidden;
}

#files::before {
  content: 'or click to select files';
  background: white;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16pt;
  margin: 0 auto;
}

#file:hover::before {
  border-color: black;
}
#files:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}